<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>

<body>
    <h1>Welcome to register.html!</h1>
    <form method="post">
        <label>Login</label>
        <input type="text" name="uname"/>

        <label>Password</label>
        <input type="password" name="pass"/>

        <label>Email</label>
        <input type="text" name="email"/>

        <label>City</label>
        <input type="text" name="city"/>

        <button type="submit">Sign up</button>
    </form>
</body>
</html>